body{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

.giris{
    font-size: 2rem;
    font-weight: 500;
    color: ;
}

.gorev-listesi{
    list-style: none;
    align-items: center;
    margin: auto;
    flex-direction: column;
}

.gorevler-container{
    display: flex;
}

.sil-btn{
    margin-left: 40px;
}

.task-add{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.task-control{
    margin: auto;
}

.gorev-ekle{
    align-items: center;
    flex-shrink: 0;
}

.timer{
    font-size: 10rem;
    font-weight: 700;
}

.start{
    font-size: 2rem!important;
}

.btn{
    margin: 5px!important;
}

.task-control{
    display: flex;
}